<div class="add-proposal">

    <h2>Een nieuwe voorstel maken</h2>
    <p *ngIf="parentProposalId">Dit wordt een vervolg op het voorstel {{parentProposalId}}</p>

    <form (ngSubmit)="onAddProposal()" [formGroup]="formGroup">
        <fieldset>
            <md-input-container>
                <input md-input name="title" placeholder="Titel" formControlName="title">
            </md-input-container>
            <input-error [control]="formGroup.controls.title" error="required"></input-error>
            <md-input-container>
                <textarea md-input name="description" placeholder="Omschrijving" formControlName="description"></textarea>
            </md-input-container>
            <input-error [control]="formGroup.controls.description" error="required"></input-error>
            <md-input-container>
                <input md-input name="category" placeholder="Categorie" formControlName="category">
            </md-input-container>
            <input-error [control]="formGroup.controls.category" error="required"></input-error>
            <md-input-container>
                <input md-input name="domain" placeholder="Domein" formControlName="domain">
            </md-input-container>
            <input-error [control]="formGroup.controls.domain" error="required"></input-error>
            <md-input-container>
                <input md-input name="phase" placeholder="Fase" formControlName="phase">
            </md-input-container>
            <md-input-container>
                <input md-input type="date" name="enddate" placeholder="Eind datum" formControlName="enddate">
            </md-input-container>
            <input-error [control]="formGroup.controls.enddate" error="required"></input-error>

            <button md-raised-button type="submit" class="submit-button">Opslaan</button>
        </fieldset>
    </form>
</div>
