/* You can add global styles to this file, and also import other style files */
html, body {
	color: #bababa;
	font-family: 'roboto', sans-serif;
	font-size: 16px;
  line-height: 1.25;
  margin: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

p {
	color: #9e9e9e;
	font-size: 1rem;
}

a	{
	cursor: pointer;
	text-decoration: none;
}

img.logo {
	margin-left: 1rem;
	padding-top: 1.5rem;
	height: 60px;
	width: auto;
}

label {
	margin: 0;
}

button.action-button, a.action-button {
	color: #9e9e9e;
	transition: all ease-in-out .3s;

	&:hover {
		box-shadow: 0 5px 2px -2px rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.14), 0 3px 5px 0 rgba(0,0,0,.12);
		color: #000000;
	}
}

button.button-with-icon, a.button-with-icon {
	font-weight: normal;
	padding-left: 2rem;

	&:focus {
		outline: 0;
	}

	md-icon {
		position: absolute;
		left: 6px;
		top: 5px;
	}
}

button.toggle-history {
	font-size: 14px;
	background-color: #03A9F4;
	color: white;
	border: none;
	height: 38px;
	transition: all ease-in-out .3s;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

	&:hover {
		box-shadow: 0 5px 2px -2px rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.14), 0 3px 5px 0 rgba(0,0,0,.12);
		background-color: #0277BD;
	}

	&:focus {
		outline: 0;
	}

	&:checked {
		display: none;
	}
.hidden {
	display: none;
}
