/* You can add global styles to this file, and also import other style files */
html, body {
	color: #555555;
	font-family: 'roboto', sans-serif;
	font-size: 16px;
  line-height: 1.25;
  margin: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a	{
	cursor: pointer;
	text-decoration: none;
}

img.logo {
	margin-left: 1rem;
	padding-top: .75rem;
	height: 60px;
	width: auto;
}