md-icon.arrow_back {
	color: #9e9e9e;
	font-size: 2rem;
	margin-left: 1.5rem;
	transition: all ease-in-out .3s;

	&:hover {
		color: #000000;
	}
}

.action-bar {
	float: right;
}

.proposal {
	// max-width: 800px;
	// @media screen and (max-width: 1140px) {
	// 	max-width: 100%;
	// }

	.notification {
		text-align: center;
		font-size: 1rem;
	}

	.proposal-title {
		color: #03A9F4;
		text-align: center;
		margin-top: 5rem;
		margin-bottom: 1rem;

		span.category-subtitle {
			color: #555555;
			display: block;
			font-size: 1rem;
			margin: .5rem 0;
		}
	}

	.proposal-description {
		white-space: pre-line;
	}

	form {
		margin: 1.5rem 0;

		.answer-row {
			text-align: center;
			margin-bottom: 1rem;

			md-button-toggle-group {
				margin: 2rem 0;
				box-shadow: none;

				md-button-toggle {
					border: 1px solid white;
					background-color: #03A9F4;
					color: white;
					margin-right: 2rem;

					&:hover {
						background-color: #0277BD;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		textarea {
			padding: .5rem .8rem;
			resize: vertical;
			width: 100%;
			border-radius: 0.3rem;
			border: 1px solid #999;
		}

		.btn-block {
			background-color: #03A9F4;
			color: white;
			float: right;
			margin: 1rem;
			width: auto;

			&:hover {
				background-color: #0277BD;
			}
		}
	}
}

.proposal-information {
	padding: 2rem;
	height: 500px; 

	.proposal-stakeholder {
		display: block;
		min-height: 7.5rem;

		.stakeholder-title {
			color: #03A9F4;
			font-size: 1.25rem;
			margin-bottom: .75rem;
		}
		img {
			float: left;
			height: 50px;
			margin-right: .5rem;
			width: auto;
			@media screen and (max-width: 1292px) {
				display: none;
			}
		}
		.stakeholder-info {
			.data {
				display: block;
				margin-top: .5rem;
			}
			.email {
				display: block;
				color: #ababab;
				font-size: .75rem;

				&:hover {
					color: #03A9F4;
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}

	.proposal-phase {
		display: block;
		min-height: 7.5rem;

		.phase-title {
			color: #03A9F4;
			font-size: 1.25rem;
			margin-bottom: .75rem;
		}
		img {
			float: left;
			height: 50px;
			margin-right: .5rem;
			width: auto;
			@media screen and (max-width: 1292px) {
				display: none;
			}
		}
		.phase-info {
			.status {
				display: block;
				margin-top: .5rem;
			}
			.date {
				color: #ababab;
				font-size: .75rem;
			}
		}
	}

	.proposal-history {
		display: block;
		// height: 7.5rem;
		.history-title {
			color: #03A9F4;
			font-size: 1.25rem;
			margin-bottom: .75rem;
		}

		li {
			border-bottom: 1px dashed #bababa;
			margin-bottom: .75rem;
			padding-bottom: .25rem;
			.history-arrow {
				float: left;
				margin-right: .25rem;
				@media screen and (max-width: 1292px) {
					font-size: .75rem;
					margin: .25rem 0;
				}
			}
			span {

			}
		}
	}
}
