.action-bar {
    margin-bottom: 1.5rem;
}

.button-with-icon {
    padding-left: 2rem;

    md-icon {
        position: absolute;
        left: 6px;
        top: 5px;
    }
}

.category-titel {
	color: #4CAF50;
	font-size: 2rem;
	padding: 0 0 .25rem 1rem;
}

md-card {
  margin-bottom: 1.5rem;
  margin-right: 5rem;
  float: left;
  width: 40%;

  &:hover {
  	box-shadow: 0 5px 2px -2px rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.14), 0 3px 5px 0 rgba(0,0,0,.12);
  }
}

md-card	h3 {
	color: #4CAF50;
	margin-bottom: 1rem;
}

md-card .date {
	color: #4CAF50;
	display: inline-block;
	font-size: .75rem;
	float: left;
}

md-card .proposal-link {
	float: right;

	ul {
		line-height: 18px;
		margin: 0;
		margin-right: .5rem;

		li {
			color: #dbdbdb;
			display: inline-block;
			font-size: .75rem;
			margin: 0 1rem;

			a {
				text-decoration: underline;
				transition: all ease-in-out .3s;

				&:hover {
					color: #000000;
				}
			}
		}
	}
}