.action-bar {
    margin-bottom: 1.5rem;
}

.button-with-icon {
    padding-left: 2rem;

    md-icon {
        position: absolute;
        left: 6px;
        top: 5px;
    }
}

md-card {
    margin-bottom: 1.5rem;
}
