<div class="card-titel">Natuur en Ruimtelijke Ordening</div>
<md-toolbar *ngIf="user?.isAdmin" class="action-bar">
    <div>Action</div>
</md-toolbar>

<div class="proposal-cards">
	<a [routerLink]="['proposal', 'test']">
	  <md-card *ngFor="let proposal of proposals">
      <h3>Proposal</h3>
      <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> 
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
      </md-card-content>
    	<div class="date">
    		<span>U kunt tot 22 april 2017 uw mening delen</span>
    	</div>
    	<div class="proposal-link">
    		<ul>
    			<li>
    				<a>delen</a>
    			</li>
    			<li>
    				<a>like</a>
    			</li>
    		</ul>
    	</div>
	  </md-card>
	</a>
</div>