<md-toolbar color="primary">
  <button md-button class="menu-button" (click)="sidenav.toggle()">
    <md-icon class="menu">menu</md-icon>
  </button>

  <a class="nav-link" routerLinkActive="active" routerLink="/">
    <img src="assets/images/p2politics.png" alt="p2politics logo" class="logo" />
  </a>
  <span class="fill-remaining-space"></span>
  <!-- <span>
    <a href="http://faucet.ropsten.be:3001/" target="_blank">Free Ether</a>
  </span> -->
</md-toolbar>
<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <div class="scrolling-content">
      <app-side-menu></app-side-menu>
    </div>
  </md-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>