.menu-button {
  margin-top: 1rem;
  width: 2rem;

  &:focus {
    outline: 0;
  }
}

md-toolbar {
  height: 5.5rem;
}

:host /deep/ .md-button-focus-overlay {
  background-color: transparent;
  opacity: 0;
}

md-icon.menu {
  color: #ababab;
  font-size: 2rem;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.sidenav-container {
}

.sidenav-container md-sidenav {
  max-width: 200px;
}

.sidenav-container.md-sidenav-container {
  bottom: 0;
    -webkit-box-shadow: 2px 0px 5px 0px rgba(158,158,158,1);
    -moz-box-shadow: 2px 0px 5px 0px rgba(158,158,158,1);
  box-shadow: 2px 0px 5px 0px rgba(158,158,158,1);
  height: 100%;
  line-height: 1.5;
  margin: 0;
  //position: fixed;
  //top: 5.5rem;
  width: 100%;
}

.sidenav-container .md-sidenav-content,
.sidenav-container md-sidenav {
  display: flex;
  overflow: visible;
}

:host /deep/ .md-sidenav-content {
  height: 100vh;
}

.scrolling-content {
  overflow: auto;
}

.content {
  overflow: auto;
  margin: 1.5rem;
}
